* { box-sizing: border-box; }
body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;

}

.carousel-cell {
	width: 100%; /* full width */
	height: calc(50vh - 10px); /* height of carousel */
	min-height: 250px;
	margin-right: 10px;
	background-size: cover;
}

.container {
	max-width: 1200px;
	text-align: center;
	margin: auto;
}
